<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link th:href="@{../css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Student Management System</h3>
            <h4>Admin</h4>
        </div>
        <div class="col-sm-6">
            Hello <b><span sec:authentication="principal.username"></span></b>,
            <span sec:authentication="principal.authorities"></span>

            <form action="#" th:action="@{/logout}" method="post">
                <input type="submit" class="btn-info" value="Logout">
            </form>
        </div>
    </div>
</div>
<hr>
<script th:src="@{../js/bootstrap.bundle.min.js}"></script>
</body>
</html>